.full-content{
    line-height: 1.55;
    font-size: 1.15rem;
    font-family: 'Inter', sans-serif;

    & * {
        text-align: justify;
    }
    & img {
        margin: 1.5rem auto;
        border-radius: 4px;
        width: 100%;
    }
    & h1, h2, h3, h4, h5, h6 {
        margin: 1rem 0 0.5rem 0;
        font-size: 1.35rem;
        scroll-margin: 100px;
    }
    & p {
        text-align: justify;
    }
    & ul, ol {
        margin-left: 1.5rem;
        text-align: justify;
        list-style-type: disc;
    }
    & li {
        margin-bottom: 0.5rem;
    }
}